* {
	outline: 0 !important;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
	font-family: $font-family;
	background: $body-bg;
	color: $body-color;
	font-size: $body-font-size;
	overflow-x: hidden;

	&.bg-image {
		background-image: $body-bg-image;
	    background-size: cover;
	    background-repeat: no-repeat;

		.wrapper {
			background-color: $body-bg-overlay;
		}

	}

}

a {
	text-decoration: none !important;
	color: $theme-link;
}

a:hover,
a:focus,
a:active {
	color: darken($theme-link, 10%);
}

.wrapper {
    display: block;
	overflow-y: hidden;
	overflow-x: hidden;
}

.caret-none::before {
	display: none !important;
}

.caret-none::after {
	display: none !important;
}

.dimmer, .dimmer-inverse {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	@include border-radius($panel-border-radius);
	justify-content: center;
	align-items: center;
}

.dimmer {
	background-color: rgba(255, 255, 255, 0.8);
}

.dimmer-inverse {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.85);
}
