* {
	outline: 0 !important;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
	font-family: $font-family;
	background: $body-bg;
	color: $body-color;
	font-size: 0.875rem;
}

a {
	text-decoration: none !important;
	color: $theme-link;
}

a:hover,
a:focus,
a:active {
	color: darken($theme-link, 10%);
}

.wrapper {
    display: flex;
	overflow-y: hidden;
	overflow-x: hidden;
}

.caret-none::before {
	display: none !important;
}

.caret-none::after {
	display: none !important;
}
