.main {
    flex: auto;
    margin-left: 0;
    @include transition(margin-left 0.3s ease-in-out);
    position: relative;
    min-height: 100vh;
    padding-bottom: $footer-height;
}

.navbar-search {
    position: relative;
    display: flex;
    flex-grow: 1;

    input,
    button {
        border: 0;
        background: transparent;
    }

    input {
        padding: 0.9375rem 1rem 0.9375rem 1.875rem;
        width: 100%;
        font-size: 0.875rem;
    }

    button {
        color: $navbar-link;
        font-size: 1rem;
        position: absolute;
        top: 0.875rem;
        padding: 0;
    }

    .navbar-search-result {
        position: absolute;
        top: $navbar-height;
        @include box-shadow($dropdown-shadow);
    }

    .navbar-search-result li {
        border: 0;
        border-bottom: 1px solid $dropdown-divider;
        margin-bottom: 0;
    }

}

.nav-user {
    padding-top: 0.625rem !important;
    padding-bottom: 0.625rem !important;
}

.page-header {
    background-color: $page-header-bg;
    color: $page-header-color;
    margin-top: 3.125rem;
    display: flex;
    flex-flow: row wrap;
    @include transition(background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out);

    &.has-menu {
        margin-bottom: 1.5rem;
    }

    .page-title {
        flex: 1;
        overflow: hidden;
        width: 200px;

        h5 {
            padding: 1.5rem;
            font-size: 1.125rem;
            margin: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

    }

    .page-header-link {
        padding: 0 0.875rem 0 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .link {
            color: $page-header-link;
            padding: 0.625rem;
            display: inline-block;
        }

        .link:hover,
        .link:focus {
            color: $page-header-link-hover;
        }

    }

}

.fixed-header {
    position: fixed;
    right: 0;
    left: 0;
    top: -1rem;
    margin-top: 0;
    background-color: $page-header-fixed-bg;
    @include transition(left 0.3s ease-in-out);
    @include box-shadow($navbar-shadow);
    z-index: 800;
}

.content {
    display: flex;
    flex-direction: column;

    &.boxed {
        padding: 0.3125rem 1rem;
    }

    .page-heading {
        margin-bottom: 1rem;

        h6 {
            margin-bottom: 0;
        }

        &.bordered {
            padding-bottom: 0.5rem;
            border-bottom: $page-heading-border;
        }

    }

    .page-divider {
        height: 1px;
        width: 100%;
        margin: 1rem 0;
        border-bottom: $page-heading-border;
    }

}

.panel {
    position: relative;
    @include border-radius($panel-border-radius);
    margin-bottom: 1.5rem;

    &.panel-default {
        background-color: $panel-light-bg;
        @include box-shadow($panel-shadow);

        .panel-link .link {
            color: $panel-light-link;
        }

        .panel-link .link:hover,
        .panel-link .link:focus {
            color: darken($panel-light-link, 15%);
        }

    }

    &.panel-light {

        .panel-heading {
            background-color: $panel-light-footer-bg;
        }

        .panel-footer {
            background-color: $panel-light-footer-bg;
        }

        .panel-heading.clear,
        .panel-footer.clear {
            background-color: transparent !important;
        }

    }

    &.bordered {

        .panel-heading {
            border-bottom: $panel-heading-border;
        }

        .panel-footer {
            border-top: $panel-heading-border;
        }

    }

    &.panel-clear * {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .panel-heading {
        display: flex;
        @include border-radius($panel-border-radius $panel-border-radius 0 0);

        .panel-title {
            flex: 1;
            padding: 1rem 1.5rem;
            overflow: hidden;
            width: 200px;

            h6 {
                margin: 0;
                font-weight: 500;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

        }

        .panel-link {
            padding: 1rem 1.5rem;
            display: flex;
            align-items: center;

            .link {
                padding: 0 0 0 1rem;
                font-size: 0.8125rem;
                font-weight: 500;
            }

        }

    }

    .panel-body {
        padding: 1rem 1.5rem;
        display: block;
        overflow: hidden;
    }

    .panel-footer {
        padding: 1rem 1.5rem;
    }

    .panel-divider {
        border-top: $panel-heading-border;
        height: 1px;
        width: 100%;
        margin: 1rem 0;
    }

}

.icon-grid-item {
    border: 1px solid transparent;
    border-radius: 0.3125rem;
    padding: 1rem 0.625rem;
    margin-bottom: 1rem;
    height: 7.1875rem;
    width: 100%;
    text-align: center;

    &:hover {
        background-color: whitesmoke;
    }

    i {
        display: block;
        font-size: 1.875rem;
        margin-bottom: 0.3125rem;
    }

    span {
        display: block;
        font-size: 0.8125rem;
        line-height: 1.2;
    }

}

.login-box {
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-grow: 1;

    .login-box-content {
        flex-basis: 26.25rem;
        margin: 0 1rem;

        .login-box-header {
            text-align: center;
            padding: 1.5rem;

            h4 {
                font-weight: 400;
            }

            p {
                font-size: 0.8125rem;
            }

        }

        .login-forgot {
            font-size: 0.8125rem;
        }

        .lock-screen-user {
            text-align: center;
            color: #fff;

            h4 {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

        }

        .login-box-footer {
            text-align: center;
            font-size: 0.8125rem;
        }

    }

    .error-box {
        color: #3b4354;
        text-align: center;
        padding: 0 1rem;

        .error-icon {
            font-size: 7.5rem;
            font-weight: 900;
        }

        h3 {
            font-weight: 400;
        }

    }

}

.footer {
    padding: 0 1rem;
    font-size: 0.75rem;
    color: $footer-color;
    background-color: $footer-bg;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: ($footer-height / 2);
    text-align: center;
}

.increase::after, .decrease::after {
    display: inline-block;
    font-weight: 500;
    margin-left: 0.1875rem;
    font-family: "Fontawesome";
    font-size: 65%;
}

.increase::after {
    color: $success;
    content: "\e99a";
}

.decrease::after {
    color: $danger;
    content: "\e98f";
}

.summary, .summary-alt, .summary-linked, .summary-fluid {
    min-height: 7.5rem;
    position: relative;

    .link, .header, .value, .description, .icon {
        display: block;
    }

    .header, .value, .description {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

}

.summary {
    display: flex;
    align-items: center;
    padding: 1rem;

    .icon {
        font-size: 22px;
        margin: -0.625rem 1rem 0 0.3125rem;
    }

    .value {
        font-size: 32px;
    }

    .description {
        font-size: 40%;
    }
}

.summary-alt {
    min-height: 11.25rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    .value {
        font-size: 2.375rem;

        .icon {
            padding: 0.625rem 0 0.375rem 0;
            font-size: 2.125rem;
        }
    }

    .header {
        margin: 0.75rem 0 0.3125rem 0;
    }

    .btn {
        display: inline-block;
        align-self: center;
        margin-top: 0.3125rem;
    }

    .link:not(.btn) {
        padding: 0.625rem;
    }

}

.summary-linked {

    .link, .link:hover, .link:focus {
        padding: 1rem;
        color: $default;
    }

    .link:hover .icon, .link:focus .icon {
        opacity: 1;
        right: 0.625rem;
    }

    .header {
        font-size: 0.8125rem;
    }

    .value {
        font-size: 2rem;
    }

    .icon {
        position: absolute;
        right: 1rem;
        top: calc(50% - 9px);
        font-size: 1.125rem;
        opacity: 0.3;
        @include transition(opacity 0.3s ease-in-out, right 0.3s ease-in-out);
    }

    .progress {
        background-color: rgba(255, 255, 255, 0.35);
    }

    .progress-bar {
        background-color: $default;
    }

    &.inverse {

        .link, .link:hover, .link:focus {
            color: $body-color;
        }

        .progress {
            background-color: $progress-bg;
        }

        .progress-bar {
            background-color: $progress-bar-bg;
        }

    }

}

.summary-fluid {
    padding: 1.875rem 1rem 0.875rem 1rem;
    text-align: center;

    .value {
        font-size: 2rem;
        line-height: 2.375rem;
    }

    .description {
        font-size: 0.75rem;

        span, .icon {
            font-size: inherit;
            display: inline;
            line-height: inherit;
            font-weight: 500;
        }

        span {
            margin-left: 0.3125rem;
        }

    }
}

.summary-circle {
    min-height: 9.375rem;
    padding: 1rem;
}

.progress-visualizer {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;

    small {
        font-size: 50%;
        margin-left: 1rem;
    }
}

//
// Small devices (landscape phones, 576px and up)
//

@media (min-width: $viewport-sm) {

    .content.boxed {
        padding: 0.3125rem 1.5rem;
    }

    .error-box .error-icon {
        font-size: 9.375rem !important;
    }

    .footer {
        line-height: $footer-height;
        text-align: left;
    }

}

//
// Medium devices (tablets, 768px and up)
//

@media (min-width: $viewport-md) {

    .main {
        margin-left: $sidebar-width;
    }

    .nav-user {
        padding-right: 0 !important;
    }

    .fixed-header {
        left: $sidebar-width;
    }

    .footer {
        line-height: $footer-height;
        text-align: left;
    }

}
