//
// CSS Properties
//

// Border Radius
@mixin border-radius($radius...) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
	        border-radius: $radius;
}

// Box Shadow
@mixin box-shadow($parameters...) {
	-webkit-box-shadow: $parameters;
	   -moz-box-shadow: $parameters;
	        box-shadow: $parameters;
}

// Column Count
@mixin column-count($parameters...) {
	-webkit-column-count: $parameters;
	   -moz-column-count: $parameters;
	        column-count: $parameters;
}

// Column Gap
@mixin column-gap($parameters...) {
	-webkit-column-gap: $parameters;
	   -moz-column-gap: $parameters;
	        column-gap: $parameters;
}

// Transition
@mixin transition($parameters...) {
	-webkit-transition: $parameters;
	   -moz-transition: $parameters;
	        transition: $parameters;
}

// Transform
@mixin transform($parameters...) {
	-webkit-transform: $parameters;
	   -moz-transform: $parameters;
	        transform: $parameters;
}

// Transform Origin
@mixin transform-origin($parameters...) {
	-webkit-transform-origin: $parameters;
	   -moz-transform-origin: $parameters;
	        transform-origin: $parameters;
}

// Animation
@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    animation:         $animations;
}

@mixin animation-duration($parameters...) {
	-webkit-animation-duration: $parameters;
	   -moz-animation-duration: $parameters;
	        animation-duration: $parameters;
}

@mixin animation-iteration-count($parameters...) {
	-webkit-animation-iteration-count: $parameters;
	   -moz-animation-iteration-count: $parameters;
	        animation-iteration-count: $parameters;
}

// Animation Keyframes
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

//
// CSS Predefined Classes
//

// Bootstrap Button
@mixin btn($name, $bg, $border, $hover-ratio, $border-ratio, $custom-color: '') {

	$color: '';
	@if ($custom-color == '') {
		$color: text-contrast($bg);
	} @else {
		$color: $custom-color;
	}

	.btn-#{$name} {
	    color: $color;
	    background-color: $bg;
	    border-color: darken($border, $border-ratio);
	}

	.btn-#{$name}:hover,
	.btn-#{$name}:focus {
	    color: $color;
	    background-color: darken($bg, $hover-ratio);
	    border-color: darken($border, if($name == 'default', $border-ratio, $hover-ratio));
	}

	.btn-#{$name}.disabled,
	.btn-#{$name}:disabled {
		color: $color;
	    background-color: $bg;
	    border-color: darken($border, $border-ratio);
	}

	.btn-#{$name}:not(:disabled):not(.disabled).active,
	.btn-#{$name}:not(:disabled):not(.disabled):active,
	.show > .btn-#{$name}.dropdown-toggle {
		color: $color;
	    background-color: darken($bg, $hover-ratio);
	    border-color: darken($border, if($name == 'default', $border-ratio, $hover-ratio));
	}

}

// Bootstrap Outline Button
@mixin btn-outline($name, $bg, $custom-color: '') {

	$color: '';
	@if ($custom-color == '') {
		$color: text-contrast($bg);
	} @else {
		$color: $custom-color;
	}

	.btn-outline-#{$name} {
	    color: $bg;
	    background-color: transparent;
	    border-color: $bg;
	}
	.btn-outline-#{$name}:hover,
	.btn-outline-#{$name}:focus {
	    color: $color;
	    background-color: $bg;
	    border-color: $bg;
	}

	.btn-outline-#{$name}.disabled,
	.btn-outline-#{$name}:disabled {
	    color: $bg;
	    background-color: transparent;
	}

	.btn-outline-#{$name}:not(:disabled):not(.disabled).active,
	.btn-outline-#{$name}:not(:disabled):not(.disabled):active,
	.show > .btn-outline-#{$name}.dropdown-toggle {
		color: $color;
	    background-color: $bg;
	    border-color: $bg;
	}

}

// Lighter Button
@mixin btn-lighter($name, $bg, $color, $hover-percentage) {

	.btn-light-#{$name} {
	    color: $color;
	    background-color: $bg;
	    border-color: $bg;
	}

	.btn-light-#{$name}:hover,
	.btn-light-#{$name}:focus {
		color: $color;
	    background-color: darken($bg, $hover-percentage);
	    border-color: darken($bg, $hover-percentage);
	}

	.btn-light-#{$name}.disabled,
	.btn-light-#{$name}:disabled {
		color: $color;
	    background-color: $bg;
	    border-color: $bg;
	}

	.btn-light-#{$name}:not(:disabled):not(.disabled).active,
	.btn-light-#{$name}:not(:disabled):not(.disabled):active,
	.show > .btn-light-#{$name}.dropdown-toggle {
		color: $color;
	    background-color: darken($bg, $hover-percentage);
	    border-color: darken($bg, $hover-percentage);
	}

}
