//
// Notifications
//

.notify {

    a {
        text-decoration: underline !important;
        color: #fff;
    }

    .alert-default {
        background-color: $secondary;
        color: #fff;
        @include box-shadow(none);
    }

    .alert-info {
        background-color: darken($primary, 3%);
        color: #fff;
        @include box-shadow(none);
    }

    .alert-success {
        background-color: darken($success, 3%);
        color: #fff;
        @include box-shadow(none);
    }

    .alert-danger {
        background-color: darken($danger, 3%);
        color: #fff;
        @include box-shadow(none);
    }

    .alert-warning {
        background-color: darken($warning, 3%);
        color: #fff;
        @include box-shadow(none);
    }

}

//
// Optiscroll
//

.optiscroll {
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.optiscroll.is-enabled {
    overflow: hidden
}

.optiscroll.is-enabled>.optiscroll-content {
    position: absolute;
    top: 0;
    left: 0;
    right: -17px !important;
    bottom: -17px !important;
    z-index: 1;
    overflow: scroll;
    -webkit-overflow-scrolling: touch
}

.optiscroll-v, .optiscroll-h {
    position: absolute;
    visibility: hidden;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.optiscroll-v {
    right: 0
}

.optiscroll-h {
    bottom: 0
}

.optiscroll.has-vtrack>.optiscroll-v, .optiscroll.has-htrack>.optiscroll-h {
    visibility: visible
}

.optiscroll.is-rtl>.optiscroll-v {
    left: 0;
    right: auto
}

.optiscroll-vtrack, .optiscroll-htrack {
    display: block;
    position: absolute;
    opacity: 1;
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    transition: height 0.2s ease 0s, width 0.2s ease 0s, opacity 0.2s ease 0s;
    box-sizing: border-box
}

.optiscroll-v {
    top: 4px;
    bottom: 4px;
    width: 0
}

.optiscroll-h {
    left: 4px;
    right: 4px;
    height: 0
}

.optiscroll.has-vtrack.has-htrack>.optiscroll-v {
    bottom: 8px
}

.optiscroll.has-vtrack.has-htrack>.optiscroll-h {
    right: 8px
}

.optiscroll-vtrack, .optiscroll-htrack {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 2px;
    box-shadow: none;
    opacity: 0;
    @include transition(background 0.3s ease-in-out, opacity 0.3s ease-in-out);
}

.optiscroll-vtrack:hover, .optiscroll-htrack:hover {
    background: rgba(255, 255, 255, 0.6);
}

.optiscroll-vtrack {
    width: 4px;
    right: 4px
}

.optiscroll-htrack {
    height: 3px;
    bottom: 4px
}

.optiscroll:hover>.optiscroll-v .optiscroll-vtrack, .optiscroll:hover>.optiscroll-h .optiscroll-htrack {
    opacity: 1
}

.optiscroll.has-vtrack.has-htrack.is-rtl>.optiscroll-h {
    right: 4px;
    left: 8px
}

.optiscroll.is-rtl>.optiscroll-v .optiscroll-vtrack {
    right: auto;
    left: 4px
}

//
// Priority Nav Scroller
//

.nav-scroller,
.ns-wrapper {
    display: -ms-grid;
    display: grid;
    position: relative;
    padding: 0 1.5rem;
    overflow: hidden;
    height: 2.5625rem;
    // border-bottom: 1px solid #ddd;
}

.nav-scroller {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.ns-nav {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding-bottom: 0px;
    margin-bottom: -17px;
    height: 3.625rem;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.ns-content {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    min-height: 2.625rem;
    transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ns-content.no-transition {
    transition: none;
}

ul.ns-content {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ns-item,
.ns-item:hover,
.ns-item:focus {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: block;
    text-align: center;
    padding: 0.5rem 0;
    margin-right: 1.5rem;
    text-decoration: none;
    color: $page-header-link;
    font-size: 0.875rem;
    border-bottom: 5px solid transparent;
    font-weight: 500;
}

.ns-item:hover,
.ns-item:focus {
    color: $page-header-link-hover;
}

.ns-item:last-child {
    margin-right: 0;
}

.ns-item.active {
    border-color: $page-header-active-border;
    color: $page-header-active;
}

.ns-border {
    border-bottom: $page-header-border;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.ns-btn {
    position: absolute;
    z-index: 10;
    padding: 0.625rem 0.5rem;
    font-size: 0.875rem;
    color: $page-header-nav-arrows;
    background: transparent;
    border: 0;
    transition: color 0.3s, opacity 0.3s;
    cursor: pointer;
}

.ns-btn:hover {
    color: darken($page-header-nav-arrows, 5%);
}

.ns-btn:focus {
    outline: 0;
}

.ns-btn:not(.active) {
    opacity: 0;
    pointer-events: none;
}

.ns-btn-left {
    left: 0;
}

.ns-btn-right {
    right: 0;
}

.ns-logo {
    display: inline-block;
    padding: 0.5rem;
    margin-right: 1rem;
    font-size: 1.75rem;
    font-weight: bold;
}

.ns-controls-inline .ns-content {
    padding: 0 44px;
}

.ns-controls-inline .ns-btn:not(.active) {
    color: #ddd;
    opacity: 1;
}

.ns-expand .ns-content,
.ns-expand .ns-nav {
    width: 100%;
}

.ns-right .ns-nav {
    margin-left: auto;
}

//
// Custom Checkbox & Radio
//

.checkbox-styled label,
.checkbox-inline.checkbox-styled,
.radio-styled label,
.radio-inline.radio-styled {
	padding-left: 25px;
    position: relative;
    font-weight: 400;
    color: inherit;
}

.checkbox-styled input,
.radio-styled input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.checkbox-styled .tick,
.radio-styled .tick,
.checkbox-styled:hover input:not([disabled]):checked ~ .tick,
.radio-styled:hover input:not([disabled]):checked ~ .tick,
.checkbox-styled:hover input:disabled ~ .tick,
.radio-styled:hover input:disabled ~ .tick {
	position: absolute;
	top: 0.1875rem;
	left: 0;
	height: 0.9375rem;
	width: 0.9375rem;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.checkbox.checkbox-styled .tick,
.checkbox-inline.checkbox-styled .tick {
@include border-radius(2px);
}

.radio-styled .tick {
@include border-radius(50%);
}

.checkbox-styled:hover input ~ .tick,
.radio-styled:hover input ~ .tick {
	border: 1px solid rgba(0, 0, 0, 0.45);
}

.checkbox-styled input:disabled ~ .tick,
.radio-styled input:disabled ~ .tick {
	background: rgba(0, 0, 0, 0.2);
	opacity: 0.6;
	pointer-events: none;
}

.checkbox-styled .tick:after,
.radio-styled .tick:after{
	content: '';
	position: absolute;
	display: none;
}

.checkbox-styled input:checked ~ .tick:after,
.radio-styled input:checked ~ .tick:after{
	display: block;
}

.checkbox-styled .tick:after {
    left: 0.21875rem;
    top: 0.03125rem;
    width: 0.34375rem;
    height: 0.59375rem;
    border: solid rgba(0, 0, 0, 0.6);
    border-width: 0 2.5px 2.5px 0;
    @include transform(rotate(45deg));
}

.checkbox-styled input:disabled ~ .tick:after,
.radio-styled input:disabled ~ .tick:after {
	border-color: rgba(0, 0, 0, 0.45);
}

.radio-styled .tick:after {
    left: 0.1875rem;
    top: 0.1875rem;
    height: 0.45rem;
    width: 0.45rem;
    @include border-radius(50%);
    background: rgba(0, 0, 0, 0.6);
}

//
// Custom File Upload Input
//

.btn-file {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}

.btn-file>input {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 23px;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
    direction: ltr;
}

.fileinput .form-control {
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: text;
}

.fileinput .btn {
    vertical-align: middle;
}

.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
    display: none;
}

.fileinput .close {
    float: none;
    margin-left: 0.625rem;
}

.fileinput .img-thumbnail {
    text-align: center;

    img {
        max-height: 100%;
        max-width: 100%;
    }

}

.fileinput-inline .fileinput-controls {
    display: inline;
}

.fileinput-filename {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    margin-left: 0.3125rem;
}

.fileinput .form-control {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.form-control .fileinput-filename {
    vertical-align: bottom;
}

.fileinput.input-group>* {
    position: relative;
    z-index: 2;
}

.fileinput.input-group>.btn-file {
    z-index: 1;
}

.fileinput-new.input-group .btn-file,
.fileinput-new .input-group .btn-file {
    @include border-radius(0 $button-border-radius $button-border-radius 0 !important)
}

//
// CSS Switches
//

.switch {
    position: relative;
    display: inline-block;
    margin: 2px 0;
    font-weight: 400;
    cursor: pointer;
}

.switch input {
    position: absolute;
    opacity: 0;
}

.switch input+span {
    width: 54px;
    height: 30px;
    background-color: #eee;
    border-radius: 30px;
    @include transition(background-color 0.4s);
    position: relative;
    display: inline-block;
    margin-top: -2px;
    margin-right: 3px;
    vertical-align: middle;
}

.switch input+span:after {
    top: 2px;
    bottom: 2px;
    left: 2px;
    width: 26px;
    background-color: $default;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    @include transition(transform 0.15s ease-out);
    position: absolute;
    content: "";
}

.switch input:focus+span {
    /*box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);*/
}

.switch input:checked+span {
    background-color: #ddd;
}

.switch input:checked+span:after {
    @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.4));
    @include transform(translateX(23px));
}

.switch input:disabled+span {
    opacity: 0.4;
}

.switch input:disabled+span:after {
    background-color: rgba(255, 255, 255, 0.5);
}

.switch.switch-sm {
    margin: 8px 0 7px;
    font-size: 12px;
}

.switch.switch-sm input+span {
    width: 36px;
    height: 20px;
}

.switch.switch-sm input+span:after {
    width: 16px;
}

.switch.switch-sm input:checked+span:after {
    @include transform(translateX(15px));
}

.switch.switch-md input+span {
    width: 50px;
    height: 26px;
}

.switch.switch-md input+span:after {
    width: 22px;
}

.switch.switch-lg {
    margin: 1px 0;
}

.switch.switch-lg input+span {
    width: 70px;
    height: 34px;
}

.switch.switch-lg input+span:after {
    width: 30px;
}

.switch.switch-lg input:checked+span:after {
    @include transform(translateX(35px));
}

.switch.switch-square input+span,
.switch.switch-square input+span:after {
    @include border-radius(0);
}

.switch-default input:checked+span {
    background-color: $secondary;
}

.switch-primary input:checked+span {
    background-color: $primary;
}

.switch-info input:checked+span {
    background-color: $info;
}

.switch-success input:checked+span {
    background-color: $success;
}

.switch-warning input:checked+span {
    background-color: $warning;
}

.switch-danger input:checked+span {
    background-color: $danger;
}

//
// jQuery Number Spinner
//

.spinner .spin-up,
.spinner .spin-down {
	height: 1.09375rem;
    width: 0.625rem;
    overflow: hidden;
    display: block;
    font-size: 0.6875rem;
	position: relative;
}

.spinner .spin-up i,
.spinner .spin-down i {
    position: absolute;
    display: inline-block;
    top: 0.25rem;
    left: 34%;
}

.spinner .spin-up {
	@include border-radius(0 0.125rem 0 0 !important);
    border-bottom: 0;
}

.spinner .spin-down {
    margin-left: 0px !important;
    @include border-radius(0 0 0.125rem 0 !important);
    position: absolute;
    bottom: 0;
    right: 0;
}

//
// Morris Charts
//

.morris-hover {
    position: absolute;
    z-index: 1000;
}

.morris-hover.morris-default-style {
    border-radius: 10px;
    padding: 6px;
    color: #666;
    background: rgba(255, 255, 255, 0.8);
    border: solid 2px rgba(230, 230, 230, 0.8);
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
}

.morris-hover.morris-default-style .morris-hover-row-label {
    font-weight: bold;
    margin: 0.25em 0;
}

.morris-hover.morris-default-style .morris-hover-point {
    white-space: nowrap;
    margin: 0.1em 0;
}

//
// Circle Statistics
//

.circle-stats-svg .outer {
    fill: transparent;
    stroke: #333;
    stroke-width: 19.8;
    stroke-dasharray: 534;
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;
    /* firefox bug fix - won't rotate at 90deg angles */
    -moz-transform: rotate(-89deg) translateX(-190px);
}

/* full circle 25 empty 534 */
.circle-stats-svg .inner {
    fill: transparent;
    stroke: orange;
    stroke-width: 20;
    stroke-dasharray: 534;
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;
    /* firefox bug fix - won't rotate at 90deg angles */
    -moz-transform: rotate(-89deg) translateX(-190px);
    stroke-dashoffset: 0;
}

.circle-stats-svg {
    overflow: visible !important;

}

.svg-container {
    width: 100%;
    margin: 0 auto;
    overflow: visible;
    position: relative;
}

svg .icon {
    font-family: Fontawesome;
}

.legend-line {
    white-space: nowrap;
}

.color-box {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    display: inline-block;
    float: left;
    padding-top: 3px;
    margin: 2px 5px 0 0;
}
