//
// Colors
//

$white:           hsl(0, 0%, 100%);
$gray:            hsl(210, 16%, 90%);
$anchor:          hsl(219, 15%, 51%);
$iron:            hsl(210, 10%, 23%);
$black:           hsl(0, 0%, 0%);
$blue:            hsl(207, 90%, 54%);
$green:           hsl(122, 39%, 49%);
$red:             hsl(4, 90%, 58%);
$orange:          hsl(36, 100%, 50%);
$azure:           hsl(199, 98%, 48%);
$purple:          hsl(262, 52%, 47%);
$teal:            hsl(174, 100%, 29%);
$sky:             hsl(193, 69, 55);
$indigo:          hsl(231, 48%, 48%);

//
// Theme
//

$theme-link:                       hsl(199, 92%, 45%);
$theme-sidebar:                    hsl(213, 26%, 13%);
$theme-sidebar-link-active:        hsl(199, 92%, 64%);
$theme-page-header:                hsl(0, 0%, 100%);

//
// Defined Colors
//

$default:        $white;
$primary:        $blue;
$secondary:      $anchor;
$success:        $green;
$danger:         $red;
$warning:        $orange;
$info:           $sky;
$tertiary:       $purple;
$system:         $teal;
$light:          $gray;
$dark:           $iron;

//------ Lighter Shades -------//

$primary-light:        hsl(207, 90%, 97%);
$success-light:        hsl(122, 39%, 95%);
$danger-light:         hsl(4, 90%, 96%);
$warning-light:        hsl(36, 100%, 95%);
$info-light:           hsl(191, 67%, 95%);
$tertiary-light:       hsl(262, 52%, 95%);

//------ Social Media -------//

$facebook:             #3d66a3;
$google:               #e05342;
$twitter:              #1da1f2;

//------ Main Colors ------//

$colors: (
    primary: $primary,
    secondary: $secondary,
    success: $success,
    danger: $danger,
    warning: $warning,
    info: $info,
    tertiary: $tertiary,
    system: $system
);

//
// Viewport Width
//

$viewport-sm:          576px;
$viewport-md:          768px;
$viewport-lg:          992px;
$viewport-xl:          1200px;

//
// Body
//

$body-bg:                   hsl(210, 33%, 96%);
$body-color:                hsl(0, 0%, 20%);
$font-family:               Roboto;
$body-font-size:            0.875rem;
$body-bg-image:             url(../images/bg.jpg);
$body-bg-overlay:           rgba(0, 0, 0, 0.65);
$link-color:                $theme-link;
$dropdown-link:             #212529;
$dropdown-hover:            rgba(0, 0, 0, 0.04);
$dropdown-shadow:           none;
$dropdown-divider:          rgba(0, 0, 0, 0.1);
$dropdown-border:           1px solid $dropdown-divider; // e.g. 1px solid transparent
$dropdown-border-radius:    0.1875rem;
$dropdown-margin:           0.125rem;
$page-heading-border:       1px solid rgba(0, 0, 0, 0.10);
$content-boxed-margin:      1.5rem;

//
// Sidebar
//

$sidebar-width:                 13.75rem;
$sidebar-bg:                    $theme-sidebar;
$sidebar-border:                none; // e.g. 1px solid transparent
$sidebar-header-bg:             lighten($sidebar-bg, 6%) !important;
$sidebar-header-shadow:         -1px 1px 4px rgba(0, 0, 0, .13) !important;
$sidebar-header-link:           $white;
$sidebar-toggler-color:         hsl(216, 4%, 76%);
$sidebar-nav-group-color:       $white;
$sidebar-nav-link:              hsl(216, 4%, 76%);
$sidebar-nav-hover:             hsl(216, 4%, 76%);
$sidebar-nav-hover-bg:          rgba(255, 255, 255, .10);
$sidebar-nav-active:            $theme-sidebar-link-active;
$sidebar-nav-active-bg:         transparent;

//
// Navbar
//

$navbar-bg:        $white;
$navbar-height:    3.125rem;
$navbar-shadow:    2px 1px 4px rgba(0, 0, 0, .13);
$navbar-link:      hsl(220, 3%, 58%);

//
// Page Header
//

$page-header-bg:                $theme-page-header;
$page-header-fixed-bg:          $default;
$page-header-color:             inherit;
$page-header-link:              rgba(51, 51, 51, .7);
$page-header-link-hover:        rgba(51, 51, 51, 1);
$page-header-active:            $page-header-link-hover;
$page-header-active-border:     $primary;
$page-header-nav-arrows:        $page-header-link;
$page-header-border:            1px solid rgba(80, 80, 80, 0.2);

//
// Panels
//

$panel-light-bg:           $white;
$panel-border-radius:      0.1875rem;
$panel-shadow:             0 1px 3px 0 rgba(0, 0, 0, 0.15),
                           0 1px 1px 0 rgba(0, 0, 0, 0.05),
                           0 2px 1px -1px rgba(0, 0, 0, 0.05);
$panel-heading-border:     1px solid rgba(0, 0, 0, 0.1);
$panel-light-link:         hsl(220, 3%, 58%);
$panel-light-footer-bg:    rgba(0, 0, 0, 0.025);
$panel-column-count:       1;
$panel-column-gap:         $content-boxed-margin;

//
// Buttons
//

$button-font-size:         0.875rem;
$button-border-radius:     0.1875rem;
$button-font-weight:       500;

//
// Progress Bars
//

$progress-bg:              hsl(210, 16%, 93%);
$progress-bar-bg:          hsl(0, 1%, 55%);

//
// Forms
//

$form-input-border-radius:         0.1875rem;
$form-input-border:                1px solid #ced4da;
$form-input-focus-shadow:          inset 0px 1px 2px rgba(0,0,0,0.12);
$form-input-focus-border-color:    rgba(0, 0, 0, 0.25);
$form-label-weight:                500;
$form-label-color:                 rgba(0, 0, 0, 0.7);
$form-icon-color:                  rgba(164, 162, 187, 1);
$form-focus-icon-color:            rgba(134, 132, 154, 1);
$form-legend-color:                $default;
$form-legend-bg:                   #485464;

//
// Alerts
//

$alert-border-radius:              0.1875rem;

//
// Jumbotron
//

$jumbotron-bg:                     $default;
$jumbotron-border-radius:          0.625rem;
$jumbotron-shadow:                 $panel-shadow;

//
// Cards
//

$card-shadow:              $panel-shadow;

//
// Footer
//

$footer-height:    2.5rem;
$footer-color:     hsl(220, 3%, 58%);
$footer-bg:        transparent;

//
// Login, Registration, Lock Screen, Password Reset etc.
//

$login-form-bg:            $white;
